
<section class="vh-100" style="background-color:#ecc5c2; ">
    <div class="container h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              
            <div class="card text-center p-0 ml-5" >
                <div class="card-header h5 text-white bg-primary">Password Reset</div>
                    <div class="card-body px-5">
                        <p class="card-text py-2">
                            Enter your email address and we'll send you an email with instructions to reset your password.
                        </p>
                        <div class="form-outline">
                            <input type="email" id="typeEmail" class="form-control my-4" />
                            <label class="form-label" for="typeEmail">Email input</label>
                        </div>
                        <a href="#" class="btn btn-primary w-100">Reset password</a>
                        <div class="d-flex justify-content-between mt-4 p-5">
                            <a class="" href="#">Login</a>
                            <a class="" href="#">Register</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
